* {
    box-sizing: border-box;
}

@font-face {
    font-family: RockSansBold;
    src: url(../font/RockSans/Rock_Sans_Bold.otf);
}

@font-face {
    font-family: RockSansNormal;
    src: url(../font/RockSans/Rock_Sans_Normal.otf);
}

.container {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

menu__link {
    /*display: inline;*/
    float: left;
}