* {
    box-sizing: border-box;
}


$link: #00b5f7;

@font-face {
  font-family: "RockSans Bold";
  src: url(../font/RockSans/Rock_Sans_Bold.otf) format("truetype");
}

@font-face {
  font-family: "RockSans";
  src: url(../font/RockSans/Rock_Sans_Normal.otf) format("truetype");
}

.container {
    font-family: "RockSans";
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    height: 1200px;     // remove this line
    position: relative;
    padding-top: 83px;
    
    .header {
        font-family: "RockSans Bold";
        display: flex;
        position: fixed;
        max-width: 1200px;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        text-transform: uppercase;
        font-size: 12px;
        
        .side-elem {
            flex: 1;
            color: #7f7f7f;
            padding: 35px 0;

            .login__link {
                text-decoration: none;
                color: #7f7f7f;
            }
        }

        .side-elem:first-child {
                border-right: 1px solid lightgray;
        }

        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            flex: 2;
            padding: 35px 0;

            &__elem {
                display: inline;
                padding: 35px 15px;
                border-right: 1px solid lightgray;
            }

            &__link {
                text-decoration: none;
                color: #7f7f7f;
            }
            &__link:active {
                color: $link;
            }
            &__link:hover {
                color: $link;
            }
        }
    }

// end header 
// ###################




    .progress-bar {
        width: .1%;
        transition: 1s;
        border-bottom: 4px solid purple;
    }
    .progress-bar:hover {
        width: 100%;
    }



}

// end container 
// ###################











// ###################
// helpers

.active {
    color: #00b5f7;
}
